<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Git Commit</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/bootstrap.css">
  <!-- icons bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
  <nav class="navbar align-items-center justify-content-center bg-light">
    <ul class="nav align-items-center">
      <img src="/public/img/git.png" alt="">
      <h1>PerintahGit</h1>
      <li class="nav-item">
        <a class="nav-link active" href="/public/index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/view/branch/gitBranches.html">Git Branch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/view/commit/gitCommit.html">Git Commit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/view/merge/gitMerged.html">Git Merge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/view/rebase/gitRebase.html">Git Rebase</a>
      </li>

    </ul>
  </nav>

  <div class="gitBoxes">
    <div class="container">
      <article class="col-1">
        <section class="col-2">

          <h2>Materi Git Commit!</h2>
          <ul>
            <li>
              <p> <span> git commit -a -m (-am) "komentar untuk pemberian history" </span>
                jika suatu file sudah modified pada saat pengecekan status, maka kita bisa langsung
                memasukkkan perintah seperti itu untuk mempercepat pekerjaan dengan artian -a untuk menambahkan
                dan -m untuk commit </p>
            </li>

            <li>
              <p> <span> git commit : </span> Sebelum melakukkan commit , kita harus config atau menjelaskan siapa diri
                kita ke dalam Git dengan menggunakan perintah :
              </p>
            </li>
            <li>
              <p> <span>git config --global user.name "mhmmdva" </span> </p>
            </li>
            <li>
              <p> <span>git config --global user.email "vallenleyss@gmail.com" </span></p>
            </li>

            <li>
              <p><span>git commit -m </span>"komentar untuk pemberian history"
                untuk melakukan commit atau menentukan bahwa code yang sudah kita buat itu akan dimasukkan ke dalam
                git
              </p>
            </li>

          </ul>

        </section>
      </article>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">

      <div class="row-column">

        <div class="footer-logo">
          <img class="footer-img" src="/public/img/git.png" alt="">
          <h1>PerintahGit</h1>
        </div>



        <div class="footer-column">

          <div class="footer-info">
            <blockquote>
              &quot; <span class="lines">Bahasa bukan cuma Bahasa Inggris saja, bahasa <span
                  class="footer-txt">coding</span>
                ini lebih penting lagi ke depan</span> &quot;
            </blockquote>
            <span class="footer-txt-name">Jokowi, 13 Okt 2021 </span>
            <ul class="social-media">
              <li class="social-items"><a href=""><i class="bi bi-github"></i></a></li>
              <li class="social-items"><a href=""><i class="bi bi-instagram"></i></a></li>
              <li class="social-items"><a href=""><i class="bi bi-linkedin"></i></a></li>
            </ul>
          </div>

          <div class="categories-flex">
            <h6 class="text-footer">Categories</h6>
            <ul>
              <li class="mb-2"><a href="#">Home</a></li>
              <li class="mb-2"><a href="#">About</a></li>
            </ul>
          </div>

          <div class="categories-flex">
            <h6 class="text-footer">Rules of Git</h6>
            <ul>
              <li class="mb-2"><a href="#">Git Branch</a></li>
              <li class="mb-2"><a href="#">Git Commit</a></li>
              <li class="mb-2"><a href="#">Git Merge</a></li>
              <li class="mb-2"><a href="#">Git Rebase</a></li>
            </ul>
          </div>



        </div>



      </div> <!-- ROW COLUMN-->
      <!-- Copyrights -->

      <div class="copyrights">
        <div class="d-flex align-content-center justify-content-center copyText">
          <p class="text-muted mb-2 py-2">© 2022 PerintahGit.</p>
        </div>
      </div>

    </div>
  </footer>







  <!-- End -->
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
    crossorigin="anonymous"></script>

  <script src="../app/core/function.js"></script>
</body>

</html>